/* default styling */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: black;
}


:root {
    --header-color: purple;
    --aside-color: green;
    --section-color: blue;
    --footer-color: crimson;
}

/* main styling */
.header {
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 20vh;
   background-color: var(--header-color);
   margin: auto;

}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height:70vh;
    padding: 0;
    
}
.grid-1 {
    color: red;
    font-weight: bold;
    background-color: var(--section-color);
    padding: 200px;
}
.grid-2 {
    color: maroon;
    background-color: var(--aside-color);
    padding: 200px;
    font-weight: bold;
}
.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--footer-color);
    width: 100%;
    height: 10vh;
    
}
.footer-div {
    color: blue;
    font-weight: bold;
    padding: 10px;
    
}


